<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Confirmación de Compra</h1>

    <p>
      Gentile <%= @order.billing_address.firstname.titleize %> <%= @order.billing_address.lastname.titleize %><br>
      ti ringraziamo per il tuo acquisto.
    </p>

    <p>
      Qui ti riepiloghiamo i dati del pagamento appena effettuato:
    </p>

  <p>
    <strong>Importo pagato:</strong> <%= number_to_currency(@order.amount_to_pay) %><br>
    <strong>Canale di pagamento:</strong>
    <% if @order.pay_type == "1"   %>
      PayPal
    <% elsif @order.pay_type == "2" %>
      Carta di Credito
    <% end %>
    <br>
    <strong>ID transazione:</strong> <%= @order.transaction_id %>
  </p>

  <p>Stampa o archivia questa email come ricevuta.</p>

  <p>Se desideri ulteriori informazioni puoi contattarci al numero +39 0571 676176
  oppure inviarci una email a <a href="mailto:info@assaggiaolio.com">info@assaggiaolio.com</a></p>

  <p>
  Questo messaggio è stato generato automaticamente, ti preghiamo di non rispondere.
  </p>

  <p>
    Cordiali saluti <br>
  Fara Vetrerie e Cristallerie Srl
  </p>
  <br>
  <p>
    <%= link_to "faravetrerie.it", "http://www.faravetrerie.it" %><br>
    <%= link_to "assaggiaolio.com", "http://www.assaggiaolio.com" %>
  </p>


  </body>
</html>
