<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Confirmación de Compra</h1>

    <p>
      Estimado <%= @order.billing_address.firstname.titleize %> <%= @order.billing_address.lastname.titleize %>,<br>
      Le agradecemos por su compra.
    </p>

    <p>
      A continuación se resumen los datos de pago que acaba de hacer:
    </p>

  <p>
    <strong>Importe pagado:</strong> <%= number_to_currency(@order.amount_to_pay) %><br>
    <strong>Canal de pago:</strong>
    <% if @order.pay_type == "1"   %>
      PayPal
    <% elsif @order.pay_type == "2" %>
      Tarjeta de Crédito
    <% end %>
    <br>
    <strong>ID de transacción:</strong> <%= @order.transaction_id %>
  </p>

  <p>Imprimir o archivar este mensaje electrónico como recibo.</p>

  <p>Si desea más informaciones, nos puede llamar al +39 676 176 0571 o envíe una email a <a href="mailto:info@assaggiaolio.com">info@assaggiaolio.com</a></p>

  <p>
  Este mensaje se genera automáticamente, por favor, no respondan.
  </p>

  <p>
    Saludos<br>
  Fara Vetrerie e Cristallerie Srl
  </p>
  <br>
  <p>
    <%= link_to "faravetrerie.it", "http://www.faravetrerie.it" %><br>
    <%= link_to "assaggiaolio.com", "http://www.assaggiaolio.com" %>
  </p>


  </body>
</html>
