<nav class="navbar navbar-default navbar-fixed-top" id="navbar-assaggiaolio">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to image_tag('assaggiaolio_logo_white.png', class:'img-responsive'), store_url, class: "navbar-brand" %>
      <div class="pull-right flag-cart-wrapper">
        <ul class="nav">
          <li class="dropdown pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag "#{I18n.locale}.png", class: 'flag' %></a>
            <ul class="dropdown-menu">
              <% (I18n.available_locales - [I18n.locale]).each do |locale| %>
              <li><%= link_to image_tag("#{locale}.png", class: 'flag'), change_locale_path(locale) %></li>
              <% end %>
            </ul>
          </li>
          <li class="pull-right cart-button"><%= link_to "<span class='glyphicon glyphicon-shopping-cart' style='font-size: 24px; color: #fff'></span>".html_safe, @cart %></li>
        </ul>
      </div>
    </div>
  </div><!-- /.container-fluid -->
  <div id="flash-cart">
    <div class="container">
      <div class="row">
        <div class="col-md-12" id="flash-cart-content">
          <%= notice %>
        </div>
      </div>
    </div>
  </div>

</nav>
