<%= form_for @order, html: { autocomplete: 'off' }, validate: true do |c| %>


  <!-- Dati Utente -->
  <div class="col-md-4">
    <h2><%= t('form.billing_address') %></h2>
    <%= c.fields_for :billing_address do |b| %>
    <div id="billing-address-wrapper">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= b.label :firstname, t('form.firstname') %>
            <%= b.text_field :firstname, class: 'form-control'  %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= b.label :lastname, t('form.lastname') %>
            <%= b.text_field :lastname, class: 'form-control'  %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= b.label :company, t('form.company') %>
        <%= b.text_field :company, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= b.label :address, t('form.address') %>
        <%= b.text_field :address, class: 'form-control' %>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <%= b.label :zip, t('form.zip') %>
            <%= b.text_field :zip, class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            <%= b.label :city, t('form.city') %>
            <%= b.text_field :city, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= b.label :province, t('form.province') %>
        <%= b.text_field :province, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= b.label t('form.country') %>
        <%= b.select :shipping_table_rate_id, options_from_collection_for_select(@shipping_table_rates, 'id', 'country_name', selected: @order.billing_address.shipping_table_rate_id), { include_blank: t('form.choose_one') }, { class: 'billing_country_selector form-control' } %>

      </div>
      <div class="form-group">
        <%= b.label :telephone, t('form.telephone') %>
        <%= b.text_field :telephone, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= b.label :email, t('form.email') %>
        <%= b.text_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= b.label :vat, t('form.vat') %>
        <%= b.text_field :vat, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= c.label :notes, t('form.notes') %>
        <%= c.text_area :notes, class: 'form-control' %>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="ship_same_address" id="ship_same_address" <%= 'checked' unless @order.shipping_address.id.present?  %> > <%= t('form.ship_same_address') %>
        </label>
      </div>

    </div>
    <% end %>

    <%= c.fields_for :shipping_address do |s| %>
    <div id="shipping-address-wrapper">
      <div class="row">
        <div class="col-sm-12">
          <h2><%= t('form.shipping_address') %></h2>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= s.label :firstname, t('form.firstname') %>
            <%= s.text_field :firstname, class: 'form-control'  %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= s.label :lastname, t('form.lastname') %>
            <%= s.text_field :lastname, class: 'form-control'  %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= s.label :company, t('form.company') %>
        <%= s.text_field :company, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= s.label :address, t('form.address') %>
        <%= s.text_field :address, class: 'form-control' %>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <%= s.label :zip, t('form.zip') %>
            <%= s.text_field :zip, class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            <%= s.label :city, t('form.city') %>
            <%= s.text_field :city, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= s.label :province, t('form.province') %>
        <%= s.text_field :province, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= s.label t('form.country') %>
        <%= s.select :shipping_table_rate_id, options_from_collection_for_select(@shipping_table_rates, 'id', 'country_name', selected: @order.shipping_address.shipping_table_rate_id), { include_blank: t('form.choose_one') }, { class: 'shipping_country_selector form-control' } %>
      </div>

      <div class="form-group">
        <%= s.label :telephone, t('form.telephone') %>
        <%= s.text_field :telephone, class: 'form-control', required: false %>
      </div>
      <div class="form-group">
        <%= s.label :email, t('form.email') %>
        <%= s.text_field :email, class: 'form-control' %>
      </div>
    </div>
    <% end %>


  </div>

  <div class="col-md-4">

    <!-- Shipping Method -->
    <h2><%= t('form.shipping_costs') %></h2>
    <div class="radio">
      <div class="row">
        <div class="col-md-12">
          <div id="shipping-costs-wrapper">
          </div>
        </div>
      </div>


    </div>

    <h2><%= t('form.payment_method') %></h2>

    <div class="radio">
      <label>
        <input value="1" type="radio" name="order[pay_type]" id="order_pay_type_antani" checked>PayPal
      </label>
    </div>
    <div class="radio">
      <label>
        <input value="2" type="radio" name="order[pay_type]" id="order_pay_type_antani"><%= t('form.credit_card') %>
      </label>
    </div>

  </div>
  <div class="col-md-4">
    <h2><%= t('form.review_your_order') %></h2>

    <div class="row">
      <div id="sidebar-cart-wrapper">
        <%= render @cart, checkout: true %>
      </div>
    </div>

    <%= link_to t('form.continue_shopping'), store_url, method: :get, class: "btn btn-custom btn-light" %>
    &nbsp;
    <%= c.submit t('form.place_your_order'), class: "btn btn-custom btn-checkout" %>


  </div>

  <% end %>

<script type="text/javascript">
  $(document).ready(function(){
    <% if !@order.shipping_address.id.present? %>
      $('#shipping-address-wrapper').hide();
    <% end %>

    $('#ship_same_address').click(function(){
      $('#shipping-address-wrapper').toggle(!$(this).prop('checked'));
      $('#new_order').resetClientSideValidations();
    });

    // Se sono presenti i dati di Shipping, allora li calcolo su quello
    // Altrimenti calcolo le spedizioni su Billing

    $('.billing_country_selector').change(function() {
      if(!$('.shipping_country_selector').val()) {
        $.ajax({
          url: '/calculate_shipping/'+ $(this).val(),
          type: 'GET'
        });
      }
    });

    $('.shipping_country_selector').change(function() {
      $.ajax({
        url: '/calculate_shipping/'+ $(this).val(),
        type: 'GET'
      });
    });


  });
</script>
