<%= simple_form_for @order, html: { autocomplete: 'off' }, validate: true do |c| %>


  <!-- Dati Utente -->
  <div class="col-md-4">
    <h2><%= t('form.billing_address') %></h2>
    <%= c.simple_fields_for :billing_address do |b| %>
    <div id="billing-address-wrapper">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= b.input :firstname, label: t('form.firstname'), class: 'form-control'  %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= b.input :lastname, label: t('form.lastname'), class: 'form-control'  %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= b.input :company, label: t('form.company'), class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= b.input :address, label: t('form.address'), class: 'form-control' %>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <%= b.input :zip, label: t('form.zip'), class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            <%= b.input :city, label: t('form.city'), class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= b.input :province, label: t('form.province'), class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= b.input :shipping_table_rate_id, label: t('form.country') do %>
          <%= b.select :shipping_table_rate_id, options_from_collection_for_select(@shipping_table_rates, 'id', 'country', selected: @order.billing_address.shipping_table_rate_id), { include_blank: t('form.choose_one') }, { class: 'billing_country_selector form-control' } %>
        <% end %>
      </div>
      <div class="form-group">
        <%= b.input :telephone, label: t('form.telephone'), class: 'form-control', required: false %>
      </div>
      <div class="form-group">
        <%= b.input :email, label: t('form.email'), class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= b.input :vat, label: t('form.vat'), class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= c.input :notes, label: t('form.notes'), class: 'form-control' %>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="ship_same_address" id="ship_same_address" <%= 'checked' unless @order.shipping_address.id.present?  %> > <%= t('form.ship_same_address') %>
        </label>
      </div>

    </div>
    <% end %>
    <%= c.simple_fields_for :shipping_address do |s| %>
    <div id="shipping-address-wrapper">
      <div class="row">
        <div class="col-sm-12">
          <h2><%= t('form.shipping_address') %></h2>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= s.input :firstname, label: t('form.firstname'), class: 'form-control'  %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= s.input :lastname, label: t('form.lastname'), class: 'form-control'  %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= s.input :company, label: t('form.company'), class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= s.input :address, label: t('form.address'), class: 'form-control' %>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <%= s.input :zip, label: t('form.zip'), class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            <%= s.input :city, label: t('form.city'), class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= s.input :province, label: t('form.province'), class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= s.input :shipping_table_rate_id, label: t('form.country') do %>
          <%= s.select :shipping_table_rate_id, options_from_collection_for_select(@shipping_table_rates, 'id', 'country', selected: @order.shipping_address.shipping_table_rate_id), { include_blank: t('form.choose_one') }, { class: 'shipping_country_selector form-control' } %>
        <% end %>
      </div>

      <div class="form-group">
        <%= s.input :telephone, label: t('form.telephone'), class: 'form-control', required: false %>
      </div>
      <div class="form-group">
        <%= s.input :email, label: t('form.email'), class: 'form-control' %>
      </div>
    </div>
    <% end %>



  </div>

  <div class="col-md-4">

    <!-- Shipping Method -->
    <h2><%= t('form.shipping_costs') %></h2>
    <div class="radio">
      <div class="row">
        <div class="col-md-12">
          <div id="shipping-costs-wrapper">
          </div>
        </div>
      </div>


    </div>

    <h2><%= t('form.payment_method') %></h2>

    <div class="radio">
      <label>
        <input value="1" type="radio" name="order[pay_type]" id="order_pay_type_antani" checked>PayPal
      </label>
    </div>
    <div class="radio">
      <label>
        <input value="2" type="radio" name="order[pay_type]" id="order_pay_type_antani"><%= t('form.credit_card') %>
      </label>
    </div>

  </div>
  <div class="col-md-4">
    <h2><%= t('form.review_your_order') %></h2>

    <div class="row">
      <div id="sidebar-cart-wrapper">
        <%= render @cart, checkout: true %>
      </div>
    </div>

    <%= link_to t('form.continue_shopping'), store_url, method: :get, class: "btn btn-custom btn-light" %>
    &nbsp;
    <%= c.submit t('form.place_your_order'), class: "btn btn-custom btn-checkout" %>


  </div>

  <% end %>

<script type="text/javascript">
  $(document).ready(function(){
    <% if !@order.shipping_address.id.present? %>
      $('#shipping-address-wrapper').hide();
    <% end %>

    $('#ship_same_address').click(function(){
      $('#shipping-address-wrapper').toggle(!$(this).prop('checked'));
      $('#new_order').resetClientSideValidations();
    });

    // Se sono presenti i dati di Shipping, allora li calcolo su quello
    // Altrimenti calcolo le spedizioni su Billing

    $('.billing_country_selector').change(function() {
      if(!$('.shipping_country_selector').val()) {
        $.ajax({
          url: '/calculate_shipping/'+ $(this).val(),
          type: 'GET'
        });
      }
    });

    $('.shipping_country_selector').change(function() {
      $.ajax({
        url: '/calculate_shipping/'+ $(this).val(),
        type: 'GET'
      });
    });


  });
</script>
