<div class="col-md-6 col-md-offset-3 order-detail">
  <h1><%= t('order.purchase_confirmation') %></h1>

  <p>
    <%= t('order.dear') %> <strong><%= @order.billing_address.firstname.titleize %> <%= @order.billing_address.lastname.titleize %></strong>, <br>
    <%= t('order.thank_you_purchase') %>
  </p>

  <p>
    <%= t('order.here_we_summarize') %>
  </p>
<br>
<p>
  <strong><%= t('order.amount_paid') %></strong> <%= number_to_currency(@order.amount_to_pay) %><br>
  <strong><%= t('order.payment_channel') %></strong>
  <% if @order.pay_type == "1"   %>
    PayPal
  <% elsif @order.pay_type == "2" %>
    <%= t('order.credit_card') %>
  <% end %>
  <br>
  <strong><%= t('order.transaction_id') %></strong> <%= @order.transaction_id %>
</p>
<br>
<p><strong><%= t('order.print_or_archive') %></strong></p>
<br>
<p><%= t('order.more_info') %> <a href="mailto:info@assaggiaolio.com">info@assaggiaolio.com</a></p>

<p><%= t('order.message_generated') %></p>
<br>
<p>
  <%= t('order.best_regards') %> <br>
Fara Vetrerie e Cristallerie Srl
</p>
<br>
<p>
  <%= link_to "faravetrerie.it", "http://www.faravetrerie.it" %><br>
  <%= link_to "assaggiaolio.com", "http://www.assaggiaolio.com" %>
</p>

</div>
