<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order.billing_address.firstname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.billing_address.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.billing_address.email %>
</p>

<p>
  <strong>Shipping Cost:</strong>
  <%= @order.shipping_cost %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @order.pay_type %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
