<h1>Carrello</h1>
<% if cart.line_items.present? %>
<div class="col-md-12">
    <table class="table">
      <%= render cart.line_items, checkout: checkout %>
      <% if session[:temporary_shipping_cost] %>
      <tr>
        <td colspan="3" style="text-align:right">Spedizione: <%= number_to_currency(session[:temporary_shipping_cost]) %></td>
      </tr>
      <% end %>
      <tr>
        <td colspan="3" style="text-align:right">Totale:
          <% if session[:temporary_shipping_cost].present? %>
            <%= number_to_currency(cart.total_price(session[:temporary_shipping_cost])) %>
          <% else  %>
            <%= number_to_currency(cart.total_price) %>
          <% end %>
        </td>
      </tr>
    </table>
</div>
  <% if checkout.blank? %>
  <div class="col-md-6">
    <%= button_to "Svuota carrello", @cart, method: :delete, data: { confirm: 'Sei sicuro di voler svuotare il carrello?' }, class: "btn btn-danger" %>
  </div>
  <div class="col-md-6">
    <%= button_to "Vai alla cassa", @cart, method: :get, class: "btn btn-primary" %>
  </div>
<% end %>

<% else %>
  <div class="class-md-12">
    Il tuo carrello è vuoto
  </div>
<% end %>


<script type="text/javascript">
  $(document).ready(function(){
    $('.update_quantity').click(function(){
      var id = $(this).prop('name');
      var product_id = $('td#'+id+' > .product_id').val();
      var quantity = $('td#'+id+' > .quantity').val();

      $.ajax({
        url: '/line_items/'+$(this).siblings('.product_id').val(),
        method: 'patch',
        data: {
          "product_id": product_id,
          "quantity": quantity
        }
      });

    });
  });

  // "product_id": $(this).prev('.product_id').val(),
  // "quantity": $(this).prev('.quantity').val()

</script>
