<div class="col-md-12">
    <table class="table table-cart">
      <%= "<caption>#{t('cart')}</caption>".html_safe unless checkout %>
      <% if cart.line_items.present? %>
        <%= render cart.line_items, checkout: checkout %>
        <% if session[:temporary_shipping_cost] %>
          <tr>
            <td colspan="3" class="cart-shipping-costs">
              <%= t('form.shipping_costs') %>: <%= number_to_currency(session[:temporary_shipping_cost]) %>
            </td>
          </tr>
          <% end %>
        <tr>
          <td colspan="3" class="total-price"><%= t('form.subtotal') %>:
            <strong>
            <% if session[:temporary_shipping_cost].present? %>
              <%= number_to_currency(cart.total_price(session[:temporary_shipping_cost])) %>
            <% else  %>
              <%= number_to_currency(cart.total_price) %>
            <% end %>
            </strong>
          </td>
        </tr>
      <% else %>
      <tr class="line-item-row">
        <td>
          <%= t('your_cart_is_empty') %>
        </td>
      </tr>
      <% end %>
    </table>
</div>
  <% if cart.line_items.present? && checkout.blank? %>
  <div class="col-md-12">
    <%= button_to t('form.empty_cart'), @cart, method: :delete, data: { confirm: 'Sei sicuro di voler svuotare il carrello?' }, class: "btn btn-custom btn-light" %>
    <br>
    <%= button_to t('form.proceed_to_checkout'), new_order_path, method: :get, class: "btn btn-custom btn-checkout" %>
  </div>
<% end %>
