<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @shipping_table_rate.country %>
</p>

<p>
  <strong>A:</strong>
  <%= @shipping_table_rate.a %>
</p>

<p>
  <strong>B:</strong>
  <%= @shipping_table_rate.b %>
</p>

<p>
  <strong>C:</strong>
  <%= @shipping_table_rate.c %>
</p>

<p>
  <strong>D:</strong>
  <%= @shipping_table_rate.d %>
</p>

<p>
  <strong>E:</strong>
  <%= @shipping_table_rate.e %>
</p>

<%= link_to 'Edit', edit_shipping_table_rate_path(@shipping_table_rate) %> |
<%= link_to 'Back', shipping_table_rates_path %>
