<div class="product-wrapper">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag p.image, class: 'img-responsive' unless p.image.nil? %>
    </div>
    <div class="col-md-7">
      <h1><%= p.title %></h1>
      <p class="description"><%= p.description %></p>

      <table class="tech-specs">
        <% if p.capacity_cl %>
        <tr>
          <th>Capacità</th>
          <td><%= "cl #{p.capacity_cl} (fl. oz. #{p.capacity_floz})" %></td>
        </tr>
        <% end %>
        <% if p.height %>
        <tr>
          <th>Altezza</th>
          <td><%= p.height %> mm</td>
        </tr>
        <% end %>
        <% if p.diameter %>
        <tr>
          <th>Diametro</th>
          <td><%= p.diameter %> mm</td>
        </tr>
        <% end %>
      </table>

      <%= link_to "info su personalizzazione", "", class: 'btn btn-custom btn-light' %>

      <%= form_tag line_items_path(product_id: p), remote: true do %>

      <table class="price-table">
        <tr>
          <td>
            <h3 class="price"><%= number_to_currency(p.price) %> <span class="cad"> / cad.</span></h3>
          </td>
          <td class="quantity-wrapper">
            <label for="quantity">Q.TÀ</label>
            <input type="number" name="quantity" value="1">

          </td>
        </tr>
      </table>

      <%= submit_tag "Aggiungi al carrello", class: "btn btn-custom btn-add-to-cart" %>

      <% end %>


    </div>
    <div class="col-md-1">
      &nbsp;
    </div>
  </div>
</div>
