<div class="product-wrapper">
  <div class="row">
    <div class="col-md-4 product-image-wrapper">
      <%= image_tag p.image, class: 'img-responsive' unless p.image.nil? %>
    </div>
    <div class="col-md-7">
      <h1><%= p.title %></h1>
      <p class="description"><%= p.description %></p>

      <table class="tech-specs">
        <% if p.capacity_cl %>
        <tr>
          <th><%= t('capacity') %></th>
          <td><%= "cl #{p.capacity_cl} (fl. oz. #{p.capacity_floz})" %></td>
        </tr>
        <% end %>
        <% if p.height %>
        <tr>
          <th><%= t('height') %></th>
          <td><%= p.height %> mm</td>
        </tr>
        <% end %>
        <% if p.diameter %>
        <tr>
          <th><%= t('diameter') %></th>
          <td><%= p.diameter %> mm</td>
        </tr>
        <% end %>
      </table>

      <button type="button" class="btn btn-custom btn-light customize-btn"><%= t('info_to_customize') %></button>

      <div class="info-customize-message">
        <%= t('customize_text') %>
      </div>

      <%= form_tag line_items_path(product_id: p), remote: true do %>

      <table class="price-table">
        <tr>
          <td>
            <h3 class="price"><%= number_to_currency(p.price) %> <span class="cad"> / <%= t('each') %></span></h3>
          </td>
          <td class="quantity-wrapper">
            <label for="quantity"><%= t('qty') %></label>
            <input type="number" name="quantity" value="1" min="1">

          </td>
        </tr>
      </table>

      <%= submit_tag t('add_to_cart'), class: "btn btn-custom btn-add-to-cart" %>

      <% end %>


    </div>
    <div class="col-md-1">
      &nbsp;
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".customize-btn").click(function(){
      $(this).next().slideDown();
    });
  });
</script>
