<!DOCTYPE html>
<html>
<head>
  <title>AssaggiaolioShop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= google_webfonts_init({ google: ['Open Sans:300,400,600', 'Lato:400,700'] }) %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div id="wrapper">
  <%= render('shared/navbar') %>

  <div id="content">
    <div class="container">
      <%= yield %>
    </div>
  </div>

  <div id="footer">
    <%= render('shared/footer') %>
  </div>
</div>

</body>
</html>
